name: PHP Composer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3


    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Composer Update
      run: composer update

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Passing Environment
      run: |
        touch .env
        echo "${{ secrets.prod_env }}" > .env
        
    - name: PHP Key Generate
      run: php artisan key:generate

    - name: PHP Migrate
      run: php artisan migrate

    - name: PHP Seed
      run: php artisan db:seed

    - name: PHP Publish
      run: php artisan vendor:publish | echo "0"

    - name: PHP Key Generate
      run: php artisan storage:link

    - name: Change Dir
      run: cp -R /home/ubuntu/actions-runner/_work/bagisto/* /var/www/html

    
